<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Afegir stock</title>
</head>
<body>
    <form action="{% url 'stockReposicio' %}" method="post">
        {% csrf_token %}
        <select name="magatzemSeleccionat">
            <option value="">Selecciona un magatzem</option>
            {% for magatzem in magatzems %}
                <option value="{{ magatzem.id }}">{{ magatzem.nom }}</option>
            {% endfor %}
        </select>
        <label>Stock a afegir</label>
        <input type="number" name="quantitat">
        <input type="submit" value="Afegir Stock">
    </form>
</body>
</html>